:root{
   --primary-text-color: #212121;
   --title-text-color:#757575;
   --accent-color:#212121;
   --secondary-color:#2196F3;
   --tagline-text-color:#757575 ;
   --primary-withe-color:#ffffff;
   --button-color:#F5F4FA;
}

.body
{
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   margin: 0;
}
.button{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  cursor: pointer;
}
.list {
  list-style: none;
}
.logo{
   font-family: 'Raleway';
   text-decoration: none;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
 
}
.logo-web {
    color: var(--secondary-color);
}
.logo-studio{
    color: #000000;
}
.site-nav .link
 { 
   color:var(--primary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
 }
.site-nav .link:focus,
.site-nav .link:hover
 { 
   color:var(--secondary-color);
 }
 .site-nav .link.current
 { 
   color:var(--secondary-color);
 }
 
 .contact-nav .link{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   color: var(--title-text-color);
 }
 .contact-nav .link:focus,
 .contact-nav .link:hover
 {
   color: var(--secondary-color);
 }
 .main{
   background: #2F303A;
 }
 .main, .text{
   color:  var(--primary-withe-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
 }
 
 .main, .launch{
   color:  var(--primary-withe-color);
 }
/* портфоліо*/
.portfolio-button{

list-style: none;
  
}
.button-primary{
   color: #ffffff;
   background-color: #2196F3;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
}
.button-secondary{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  text-decoration: none;
}

.button-secondary:focus,
.button-secondary:hover
 { 
   color:var(--secondary-color);
 }
.button-secondary.current
 { 
   color:var(--secondary-color);
 }
 .project{
  list-style: none;
 }
 .working-projects{
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color:var(--accent-color);
 }
 .project .description{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
 }
 /* кінець портфоліо*/

 .comand-content{
  background: #F5F4FA;
 }
 .comand-section{
  background: #ffffff;
 }
 .project-title,
 .comand-title
 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
 }
 .comand-list{
  list-style: none;
 }
 .advantage-list .description,
 .comand-list .description,
 .project .description
 {
    color: var(--tagline-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
 }
 .features
 { 
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
 }

 .footer{
   background: #2F303A
 }
 .footer .logo-studio{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19; 
   letter-spacing: 0.03em;
   color: #ffffff;
 }
.footer .location{
   color: #ffffff;
   font-style: normal;
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
.footer .location:hover{
  color:var(--secondary-color);
}

